*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.about{
	width: 100%
	padding: 78px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 420px;
	margin: 98px 50px;
	 border: 5px solid #00f9fa;
	 border-style: double;
	 border-radius: 10px;
	 
}
.about-text{
	width: 550px;

}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h1{
	color: white;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px
}
.about-text h5{
	color: white;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 25px
	letter-spacing: 2px;
}
span{
	color:#00f9fa;

}
.about-text p{
	color:#fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;

}
button{
	background:#00f9fa;
	color: white;
	text-decoration: none;
	border:2px solid transparent;
	font-weight: bold;
	padding:13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background:transparent;
	border:2px solid #00f9fa;
	cursor: pointer;
}
